.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 23px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.split {
  float: left;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.container {
  min-height: 10em;
  vertical-align: middle }

 p{
    font-size: 37px;
    text-align: center;
    border-width: 15px;
    border-color: rgb(160, 114, 45);
    border-style: double;
    margin-top: 325px;
    margin-left: 40px;
    margin-right: 40px;
    scroll-margin-right: 40px;
    font-family: 'Cormorant Garamond', serif;
 }








 

 




