.topnav {
    background-color: #f6efe9;
    overflow: hidden;
  }
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Trispace', sans-serif;
    font-size: 25px;
  }
  
  h1{
    font-family:font-family: 'Gloria Hallelujah', cursive;
    font-size: 70px;
    text-align: left;
    margin-left: 60px;
    background-color: #f6efe9;
  }
  
  body{
    background-color: #f6efe9;
    margin: 0%;
  }

  .parallax {
    background-color: #f6efe9;
    background-image: none;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
