.topnav {
    background-color: #D1B7A1;
    overflow: hidden;
  }
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-family:'Poiret One';
    font-size: 25px;
  }
  
  h1{
    font-family: 'Abril Fatface';
    font-size: 70px;
    text-align: left;
    margin-left: 20px;
    background-color: #D1B7A1;
  }
  
  body{
    background-color: #D1B7A1;
    margin: 0%;
  }
  
  .img-gallery {
    width: 90%;
    margin: 10px auto 70px;
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto ;
    grid-gap: 30px;   
  }
  .img-gallery img{
    width: 100%;
    cursor: pointer;
  }
  .img-gallery img:hover{
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);