.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 23px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.split {
    float: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  

  p{
    font-family: 'Cormorant Garamond', serif;
    color: black;
    font-size: 18px;
    max-width: 200px;
    max-height: fit-content;
  }

  .parallax {
    background-image: url("img/Screen Shot 2022-12-13 at 6.34.56 PM.png");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    height:1000px;
    width: 100vw;
    background-color:rgb(255, 255, 255);
    font-size: "36px";
  }
  
  .column {
    display: flexbox;
    width: 33.33%;
    padding: 10 10px;
    border-width: 2rem;
    justify-content: space-between;

  }
  
  .column img {
    margin-top: 30px;
    vertical-align: middle;
    width: 100%;
    justify-content: space-between;
    position: relative;

    
  }


  
  h1,
  h2 {
    padding-top: 10vh;
    color: white;
    text-align: center;
  }
  
  .mb_parallax_container {
    height: 100vh;
    width: 100vw;
    border-bottom: 10px solid black;
    padding-top: 20vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }