h1{
    font-size: 175px; color:rgb(0, 0, 0) ;
    font-family: 'Reenie Beanie', cursive;
    text-align: center; 
    margin-bottom: 1in;
  }


body{
    background-color:rgb(174, 104, 13);
    margin: 0%;
    border-style: groove;
    border-color: black;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: rgb(229, 174, 102);
    text-align: center;
    font-size: 45px;
    font-family: 'Reenie Beanie', cursive;
    margin-top: 2in;
}

.img-gallery {
    width: 80%;
    margin: 20px auto 50px;
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto auto;
    grid-gap: 30px;   
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}