* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    background-color: rgb(188, 189, 225);
    overflow: hidden;
  }
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Trispace', sans-serif;
    font-size: 25px;
  }
  
  h1{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 75px;
    color: black;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 38px;
  }
  
  body{
    background-color: rgb(188, 189, 225);
    margin: 0%;
    padding: 10px;
  }

  iframe {
    text-align: center;
  }