h1{
    background-color: #DFD0C0;
    font-size: 135px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center; 
  }

h2 {
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center; 
    font-color: #7c684f;

}

h3 {
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;  
}

body{
    background-color: #DFD0C0;
    margin: 0%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BA9D79;
    color: black;
    text-align: center;
    font-size: 32px;
    font-family: 'Reenie Beanie', cursive;
    margin-top: 2in;
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-rows:repeat(autofit, minmax(250 px, 1 fr));
    grid-template-columns: repeat(autofit, minmax(250 px, 1 fr));
    grid-gap: 30px;   
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}