h1{
    background-color: white;
    font-size: 100px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center; 
  }
body{
    background-color: white;
    margin: 0%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250 px, 1 fr));
    grid-gap: 20px;
}
.box {
    height: 200px;
    content: url(https://media.vanityfair.com/photos/631bdedbfafa4572344fc80a/master/pass/vf-922-TIFF-Portrait-Studio-Taylor-Swift.jpg);
    border: 2px solid black;
    position: relative;
}
h2 {
    position: absolute;
    margin: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

