h1{
    font-size: 175px; color: whitesmoke;
    font-family: 'Reenie Beanie', cursive;
    text-align: center; 
    background-image:url(https://wallpapercave.com/wp/wp2399738.jpg);
    margin-bottom: 1in;
  }


body{
    background-color:#1727FF;
    margin: 0%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 32px;
    font-family: 'Reenie Beanie', cursive;
    margin-top: 2in;
}

.img-gallery {
    width: 80%;
    margin: 20px auto 50px;
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto auto;
    grid-gap: 30px;   
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}