h1{
    font-size: 175px; color:rgb(195, 46, 46) ;
    font-family: 'Reenie Beanie', cursive;
    text-align: center; 
    background-image:url(https://img.freepik.com/free-vector/abstract-distorted-checkered-background_23-2148965764.jpg?w=1800&t=st=1665700404~exp=1665701004~hmac=21d1c39c0966dd11984567b2fa9470db48929694cb84552a8a1fc7f58288f402);
    margin-bottom: 1in;
  }


body{
    background-color:rgb(195, 46, 46);
    margin: 0%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 45px;
    font-family: 'Reenie Beanie', cursive;
    margin-top: 2in;
}

.img-gallery {
    width: 80%;
    margin: 20px auto 50px;
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto auto;
    grid-gap: 30px;   
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}